* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

@font-face {
  font-family: Source Code Pro;
  src: local('Source-Code-Pro'),
    url(/fonts/SourceCodePro-SemiBold.woff2) format('woff2'),
    url(/fonts/SourceCodePro-SemiBold.woff) format('woff');
}

h1 {
  padding-top: 120px;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  color: var(--h1-color);
  font-size: var(--h1-font-size);
}

p {
  font-family: var(--font-main);
  color: var(--h1-color);
  font-size: var(--p-font-size);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.corgiContainer {
  display: flex;
  justify-content: center;
}

.corgiContainer img {
  height: 350px;
  width: 350px;
}

.btnCounter {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  display: flex;
  justify-content: center;
}
.keyText {
  font-size: var(--p-small);
}

.rotate {
  transform: rotate(360deg) scale(1.2);
  transition: 1.2s ease-in-out;
}

.blue {
  background-color: var(--background-light);
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  padding-top: 300%;
}
